@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;

}
body{
  margin:0;
  font-family: system-ui,sans-serif;
}
.nav{
  display: flex;
  gap: 16px;
  padding: 12px;
  flex-wrap: wrap;
}
.container{
  padding: 16px;
}
.navbar{
  border-bottom: 1px solid #ddd;
  padding: 12px 16px;
}
.nav-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-weight: 600;
}
.menu-btn{
  font-size: 22px;
  background: none;
  cursor: pointer;
}
.nav-links{
  display: none;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
.nav-links.open{
  display: flex;

}
.nav-links a{
  text-decoration: none;
  color: #ddd;
}
@media(min-width:786px){
  .menu-btn{
    display: none;
  }
  .nav-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 0;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
.nav-links a.active{
  font-weight: 600;
  border-bottom: 2px solid green;
}
.page{
  padding: 16px;
  max-width: 1100px;
  margin: 0 auto;
}
.hero{
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-title span{
  font-weight: 700;
}
.hero-subtitle{
  font-size: 1rem;
  max-width: 500px;
  color: #666;
}
.hero-actions{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.btn{
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.95rem;
}
.btn.primary{
  background: black;
  color: white;
}
.btn.secondary{
  border: 1px solid black;
  color: white;
}
@media (min-width: 768px){
  .hero-title{
    font-size: 3rem;
  }
  .hero{
    padding: 80 px 0;
  }
}
.hero-text{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-image{
  width: 100%;
  max-width: 320px;
}
@media (min-width:768px){
  .hero{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0;
  }
  .hero-text{
    max-width: 600px;
  }
}
.stack{
  padding: 48px 0;
}
.stack-title{
  font-size: 1.5rem;
  margin-bottom: 24px;
}
.stack-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
}
.stack-list li{
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 0.9rem;
}